{% extends 'school_app/base_page.html' %} {% block content %}
<br class="m-5">
<div class="container">
<table class="table table-dark">
    <thead>
            <tr>
                <th scope="col">Teacher Id</th>
                <th scope="col">Name</th>
                <th scope="col">Subject Speciality</th>
                <th scope="col">Email Id</th>
                <th scope="col">Phone</th>
                <th scope="col">Qualification</th>
            </tr>
    </thead>

        {% for teacher in all_teachers %}
            <tr>
                <td>{{ teacher.user }}
                <td>{{ teacher.teacher_name }}</td>
                <td>{{ teacher.subject_speciality }}</td>
                <td>{{ teacher.email_id }}</td>
                <td>{{ teacher.teacher_phone }}</td>
                <td>{{ teacher.qualification }}</td>
            </tr>
            {% endfor %}

        </table>
        </div>

{% endblock content %}