{% extends 'school_app/base_page.html' %} {% block content %}
<br class="m-5">
<div class="container">
<table class="table table-dark">
    <thead>
            <tr>
                <th scope="col">Roll Number</th>
                <th scope="col">Name</th>
                <th scope="col">Grade</th>
                <th scope="col">Email Id</th>
                <th scope="col">Phone</th>
                <th scope="col">Field of Study</th>
                
            </tr>
    </thead>

            {% for students in all_students %}
            <tr>
                <td>{{ students.user }}</td>
                <td>{{ students.student_name }}</td>
                <td>{{ students.gradeclass }}</td>
                <td>{{ students.email_id }}</td>
                <td>{{ students.student_phone }}</td>
                <td>{{ students.field_of_study }}</td>
            </tr>
            {% endfor %}

        </table></div>

{% endblock content %}